.patientlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patientlist input {
  width: 300px;
  height: 25px;
  margin: 5px;
  font-size: 15px;
  padding-left: 20px;
}

.patientlist button {
  margin: 15px;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.patient {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.patient h3 {
  margin: 10px;
}
